/* style file created by Emma Kramer
====================================
00: css variable
01: color
02: typography
====================================
*/

/* 00: css variable */
:root{
    --body-color: hsl(0, 73%, 13%);
    --page-color: hsla(349, 100%, 80%, 0.557);
    --sidebar-color: hsl(0, 100%, 92%);
    /* font color */
    --font-color: rgb(28, 7, 5);
    --font-color2: rgb(255, 242, 241);
    --sidebar-font-color: rgb(95, 8, 0);
    /* h1 color */
    --h1-color: hsl(8, 64%, 16%);
    /* layout variables */
    --page-top-position: 85%;
    --page-width: 20%;
    --bottom-bar-height: 14vh;
    --bottom-bar-color: hsl(0, 44%, 29%);
}

/* 01 Color */
body{
    background-color: var(--body-color);
    color: var(--font-color);
}

div.preamble{
    color: var(--font-color2);
    margin-right: 25%;
}

#zen-intro{
    background-color: var(--page-color);
}

#zen-supporting{
    background-color: var(--page-color);
}

.sidebar{
    background-color: var(--sidebar-color);
}

h1{
    color: var(--h1-color);
}

/* 02 Layout */
div.explanation,div.requirements,div.benefits,div.participation{
    position: fixed;
    width: var(--page-width);
    top: var(--page-top-position);
    background-image: url(../img/newspaper3.jpg);
    /* transition: all 4s ease in-out;*/
    transition: all 2s ease-in-out;
}

div.explanation{
    left: 0%;
}

div.requirements{
    left: 20%;
}

div.benefits{
    left: 40%;
}

div.participation{
    left: 60%;
}

aside.sidebar{
    position: absolute;
    top: 20%;
    right: 0;
    bottom: 0;
    width: 20%;
    height: 80%;
    padding: 8px;
}

section.intro{
    position: fixed;
    top: 0;
    bottom: 10%;
    left: 0%;
    width: 100%;
    height: 20%;
    padding: 4px;
    border: 2px solid var(--page-color);
    margin-top: 25px;
    text-indent: 1em; /* -9999 con remove all of the content */
    background-image: url(/img/newspaper3.jpg);
    /* put tranform and translate here */
    transform: rotate(-10deg) translate(-100px,0);
    
}

div.extra2{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--bottom-bar-height);
    background-color: var(--bottom-bar-color);
    z-index: 1;
}

div.extra1{
    position: fixed;
    top: 0;
    bottom: 10%;
    left: 0%;
    width: 100%;
    height: 20%;
    background-image: url(../img/newspaper2.jpg);
    z-index: -1;
    transform: rotate(15deg) translate(200px,-100px);

}

/* create tabs for the folders */
div.explanation h3,div.requirements h3,div.benefits h3,div.participation h3{
    margin-top: -5%;
    width: 12vw;
    background-color: var(--page-color);
    border-radius: 8px 8px 0 0;
    padding-left: 4px;
}

/** 03: Typography **/
@font-face {
    font-family: 'myfont';
    src: url(../fonts/chunkfive.eot);
}

header h1{
    font-family: 'myfont',sans-serif;
    font-weight: 100;
    font-size: 1.25em;
    letter-spacing: normal;
    line-height: 1em;
}

header h2{
    font-family: 'Baskervville SC',cursive;
    font-weight: 100;
    font-size: 2.5em;

}

#design-archives {
    visibility: hidden;
}

/* 04, selector practice, transform, transition, ... */
a:hover{
    font-size: 1em;

}

div.explanation:active{
    top: 15vh;
    height: 90vh;

}

div.requirements:hover{
    top: 15vh;
    height: 90vh;
}

div.benefits:active{
    top: 15vh;
    height: 90vh;
}

div.participation:active{
    top: 15vh;
    height: 90vh;
}

p::first-letter{
    font-size: 1.5em;
    font-style: italic;
}

p:nth-child(2n){
    background-color: rgb(114, 1, 52);
}

p:nth-child(2n+1){
    background-color: rgb(206, 131, 166);
}

h3{
    text-shadow: 2px 2px 10px var(--font-color2);
}
/** border radius for the tabs **/





/** list style image **/
ul{
    list-style-image: url(../img/star.png);
}
    
/** transform and tranlate**/
section.intro h3 ~p{
    transition: all 3 ease-in-out;
    opacity:1;
    
}


section.intro h3:hover ~p{
    transform: scale(0.2);
    opacity:0;

}

@keyframes backandforth{
    from{transform: translate(-800px,0);}
    30%{transform: translate(-500px,0);}
    50%{transform: translate(100px,0);}
    70%{transform: translate(500px,0);}
    90%{transform: translate(800,0);}
}

footer{
    position: fixed;
    bottom: 1vh;
    left: 50%;
    animation: 10s ease-in-out 2s alternate infinite backandforth;
    z-index: 4;
}

/* fun features */


aside.sidebar{
    clip-path: polygon(0 0, 0 60%,50% 90%,100% 60%,100% 0);
}

div{
    background-color:  hsla(200,50%,70%,0.3);
  }
  
  .wrapper {
    background-color: white;
    display: grid;
    grid-template-columns: 100px  repeat(2, 1fr) 100px;
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
  }
  
  .one{
    grid-column: 2/4;
    grid-row: 2/4;
  }
  
  .two{
    grid-column: 1/ 4;
    grid-row: 1/2;
  }
  
  .three{
    grid-column: 1/2;
    grid-row: 2/4;
  }
  
  .four{
    grid-column: 4/5;
    grid-row: 1/3;
  }
  
  .five{
    grid-column: 1/4;
    grid-row: 4/5;
  }
  
  .six{
    grid-column: 3/5;
    grid-row: 3/5;
  }